<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966251805974-37bjls7i75rb3r1f8n2cgrh0ja8pk1h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966251805974-37bjls7i75rb3r1f8n2cgrh0ja8pk1h3</string>
	<key>API_KEY</key>
	<string>AIzaSyAXmzDYqueeIPLXh3IjDTjAQOwdqIb1OqM</string>
	<key>GCM_SENDER_ID</key>
	<string>966251805974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dannybennett.Daniel-Bennett-Capstone</string>
	<key>PROJECT_ID</key>
	<string>early-alert-d9905</string>
	<key>STORAGE_BUCKET</key>
	<string>early-alert-d9905.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966251805974:ios:d4e29591f188c804b9e437</string>
</dict>
</plist>